.main-title {
    margin-top: 17%;
    margin-bottom: 17%;
    text-align: center;
    font-size: 47px;
    color: #d5d5d7;
}

.atributes {
    position: relative;
    font-size: 22px;
    padding: 1.2%;
}

span.first-words{
    text-decoration: underline;
    text-decoration-color: rgb(211, 211, 211);
}